body {box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    }


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }

  .row {margin: 0 -5px;}

  .row:after {
    content: "";
    display: table;
    clear: both;
  }